<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jamogba</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="cartaz">
    <h1>Lista de Procurados pela CP-9</h1>
    <div class="textoi">
    <% usuarios.forEach((usuario) => { %>
        <%= usuario.nome %>
    <% }) %>
    </div>
    </div>
</body>
</html>